.Myapp{
    width: 100%;
    height: 100vh;
    display: flex;
}
.formPlace{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cartePlace{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}